<p id="notice"><%= notice %></p>

<p>
  <strong>Positive1:</strong>
  <%= @night.positive1 %>
</p>

<p>
  <strong>Positive2:</strong>
  <%= @night.positive2 %>
</p>

<p>
  <strong>Improvement1:</strong>
  <%= @night.improvement1 %>
</p>

<p>
  <strong>Improvement2:</strong>
  <%= @night.improvement2 %>
</p>

<%= link_to 'Edit', edit_night_path(@night) %> |
<%= link_to 'Back', nights_path %>
