<div class = "center1">

<div class="card-center">

  <div class ="time_heading2">
    Log in
</div>


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="devise-heading"
    <i class="fa fa-envelope-o" aria-hidden="true"> </i>Email<br>
  </div>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <div class="devise-heading"
    <i class="fa fa-lock" aria-hidden="true"></i></i>Password<br>
  </div>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: "ctas-button-3" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
<br>
<br>

<br>
