<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :section1 %><br>
    <%= f.text_area :section1 %>
  </div>
  <div class="field">
    <%= f.label :section2 %><br>
    <%= f.text_area :section2 %>
  </div>
  <div class="field">
    <%= f.label :section3 %><br>
    <%= f.text_area :section3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
