
<div class = "card-center">


<div class ="time_heading2">  <%= Time.now.strftime("%m/%d/%Y") %>
</div>
<div class = "quote">
<span style="font-style:italic;">"<%= @quote.try(:body) %>" </span>  <br>- <%= @quote.try(:author) %>
 </div>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= simple_form_for @post do |f| %>
  <h3> What are you grateful for today? </h3>

    <%= f.input :section1, label: false, input_html: {:class => "textboxline", value: "I'm grateful for..."} %>
    <%= f.input :section2, label: false, input_html: {:class => "textboxline", value: "A second thing I'm grateful for..."} %>
    <%= f.input :section3, label: false, input_html: {:class => "textboxline", value: "A third thing I'm grateful for..."} %>

    <h3> What is one thing you want to accomplish today? </h3>
    <%= f.input :goal,label: false,  input_html: {:class => "textboxline",value: "My biggest goal for today is..."} %>


    <%= f.submit 'Submit', class: "ctas-button-3" %>

  <% end %>


<% end %>
</div>
