


<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= simple_form_for @post do |f| %>
    <%= f.input :section1, label: false, input_html: {:class => "textboxline", value: "I'm grateful for..."} %>
    <%= f.input :section2, label: false,input_html: {:class => "textboxline",value: "Something else I'm grateful for..."} %>
    <%= f.input :section3,label: false,  input_html: {:class => "textboxline",value: "A third thing I'm grateful for..."} %>
    <%= f.submit 'Submit', class: "ctas-button-3" %>

  <% end %>


<% end %>
