<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<br>
  <div class="field">
    <span class = "number">
      1.
    </span>
    <%= f.text_area(:section1, value: "I'm grateful for...", :class => "textboxline") %>
  </div>

  <div class="field">
    <span class = "number">
      2.
    </span>
    <%= f.text_area(:section2, value: "I'm grateful for...",:class => "textboxline") %>
  </div>

  <div class="field">
    <span class = "number">
      3.
    </span>
    <%= f.text_area(:section3, value: "I'm grateful for...",:class => "textboxline") %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
