<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>



    <% @posts.each do |post| %>
      <tr>
        <%= time_ago_in_words(post.created_at) %> ago
<br>
        <%= post.section1 %> <br>
        <%= post.section2 %><br>
        <%= post.section3 %><br>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
         <br>
         <br>
    <% end %>


<br>

<%= link_to 'New Post', new_post_path %>
