


<div class="center">

<h1>My Entries</h1>

<br>
</div>


<div class="center1">

  <div class="card">

    <% @posts.each do |post| %>


<span class = "time_heading">
<%=post.created_at.strftime("%m/%d/%Y")%>
</span><br>
<span class = "number2">
<ol>
  <li>
   <%= post.section1 %> </li><br>
    <li>
        <%= post.section2 %> </li>   <br>
  <li>
        <%= post.section3 %>  </li>

</ol>
</span>
        <!--
            <span class = "time_heading" >Written <%= time_ago_in_words(post.created_at) %> ago</span><br>
--> <small>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </small>
      <br>
      <br>

    <% end %>




<%= will_paginate @posts %>
<br>
</div>

</div>

<br>
<br>
<br>
