


<div class="center">

<h1>My Entries</h1>
</div>










<div class="center1">

  <div class="card">
    <div class="form-group">
      Search Entries
      <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search] %>
       <%= submit_tag "Go!", class: "ctas-button-3"%>

      <% end %>

    </div>
    <hr>


    <% @posts.each do |post| %>


<div class = "heading2">
Written on<%=post.created_at.strftime(" %m/%d/%Y")%>
</div>


<span class ="heading3"> Today's Gratitude</span>
<span class = "text1">
<ol>
<li><%= post.section1 %></li>
<li><%= post.section2 %></li>
<li><%= post.section3 %></li>
</ol>

</span>

<span class ="heading3"> Today's Goal</span>

 <span class = "text1">
   <ol>
  <li> <%= post.goal %></li>
</ol>

 </span>


</span>
        <!--
            <span class = "time_heading" >Written <%= time_ago_in_words(post.created_at) %> ago</span><br>
-->
<span class ="delete">
        <%= link_to 'Delete Entry', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>


      <hr>

    <% end %>




<%= will_paginate @posts %>
</div>

</div>

<br>
<br>
<br>
