<p id="notice"><%= notice %></p>

<h1>All My Entries</h1>

<br>


    <% @posts.each do |post| %>
  <span class = "time_heading" >Submitted <%= time_ago_in_words(post.created_at) %> ago</span>
      <br>
<span class = "number2">1 </span>
        <%= post.section1 %> <br>
        <span class = "number2">2 </span>
        <%= post.section2 %><br>
        <span class = "number2">3 </span>
        <%= post.section3 %><br>

          <small>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </small>
         <br>
         <br>
    <% end %>


<br>

<%= link_to 'New Post', new_post_path %>
