











<div class="center1">

  <div class="card">

    <div class="form-group">



      <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search] %>
        <br>
       <%= submit_tag "Search Entries", class: "ctas-button-4"%>

      <% end %>

    </div>
  </div>


    <% @posts.each do |post| %>

  <div class="card">
<div class = "heading2">
<%= evil_icon 'ei-calendar',size: :s, class: "icons" %><%=post.created_at.strftime(" %m/%d/%Y")%>
</div>


<span class ="heading3"> Gratitude</span>
<span class = "text1">
<ol>
<li><%= post.section1 %></li>
<li><%= post.section2 %></li>
<li><%= post.section3 %></li>
</ol>

</span>

<span class ="heading3"> Goal</span>

 <span class = "text1">
   <ol>
  <li> <%= post.goal %></li>
</ol>

 </span>


</span>
        <!--
            <span class = "time_heading" >Written <%= time_ago_in_words(post.created_at) %> ago</span><br>
-->
<span class ="delete">
        <%= link_to 'Delete Entry', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>


  </div>

    <% end %>




<%= will_paginate @posts %>
</div>

</div>

<br>
<br>
<br>
