

<div class="top-journal">
    <div class="journal-card">
        <div class="heading5">
            A.M. Journal

            <span class="middle-top">
                <%=@counting%>
                total entries
            </span>
        </div>

        <%= form_tag(posts_path, :method => "get", type: "text",class: "form-control") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search this journal" %>
        <button class='ctas-button-5 search-button'>
            <i class="fa fa-search" aria-hidden="true"></i>
        </button>
        <% end %>

    </div>

</div>

</div>

<br>
<br>

<div class="center1">



<span class ="show-button">
       <%= link_to "Morning Journal", posts_path, class: "ctas-button-7"%>
</span>

<span class ="show-button">

        <%= link_to "Evening Journal", nights_path,class: "ctas-button-7" %>
</span>









<content>
  <%= render 'postMorning' %>
<content>



<br>

<%= form_tag(posts_path, :method => "get", type: "text",class: "form-control2") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search this journal" %>
<button class='ctas-button-4 search-button'>
<i class="fa fa-search" aria-hidden="true"></i>
</button>
<% end %>

<%= will_paginate @postsMorning %>

</div>
</div>
