





<div class ="top-journal">
<div class = "container">

  <div class="journal-card">
<div class = "heading5">
  My Journal
</div>

<%=@counting%> total entries | Created on <%=@startDate%>

                  <%= form_tag(posts_path, :method => "get", type: "text",class: "form-control") do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Search this journal" %>
                    <button class='ctas-button-3 search-button'>
                      Go
                    </button>
                  <% end %>

</div>

</div>
</div>



<div class="center1">


    <% @posts.each do |post| %>

  <div class="card">
<div class = "heading2">
  <i class="fa fa-calendar" aria-hidden="true"></i>
<%=post.created_at.strftime(" %m/%d/%Y")%>
</div>


<span class ="heading3">
My Gratitude</span>
<div class = "text1">

<li><%= post.section1 %></li>
</div>
<div class = "text1">
<li><%= post.section2 %></li>
</div>
<div class = "text1">
<li><%= post.section3 %></li>
</div>


<span class ="heading3"> My Goal</span>

 <div class = "text2">

 <li><%= post.goal %></li>


 </div>


</span>
        <!--
            <span class = "time_heading" >Written <%= time_ago_in_words(post.created_at) %> ago</span><br>
-->
<span class ="delete">
        <%= link_to '      <i class="fa fa-trash-o" aria-hidden="true"></i>Delete'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>



  </div>

    <% end %>




<%= will_paginate @posts %>

</div>
</div>




<br>
<br>
<br>
