
<div class="show-center">

<h1>Great job! As a reward, get inspired by stranger's entry.</h1>

</div>
<div class="center1">
<div class ="card">
  <span class = "time_heading2" >Written <%= time_ago_in_words(@random.created_at) %> ago by a stranger</span><br>

<br>

  <span class ="heading3"> Today's Gratitude</span>
  <span class = "text1"> <br>
    <%= @random.try(:section1) %>
    <br>

  </span>
  <br>
  <span class ="heading3"> Today's Goal</span>
  <br>
   <%= @random.try(:goal) %>
   <br>
   <br>
   <span class ="heading3"> Today's Learning</span>
   <br>
    <%= @random.try(:learning) %>
   <br>

  </span>



</div>
<br>

<%= button_to 'Back to My Entries', posts_path,:class => "ctas-button-3" %>
