<p id="notice"><%= notice %></p>

<h3> Today, I am grateful for...   </h3>
<br>


<div class = "box">
<p>
<span class = "number2">1 </span>
  <%= @post.section1 %>
</p>

<p>
  <span class = "number2">2 </span>
  <%= @post.section2 %>
</p>

<p>
  <span class = "number2">3 </span>
  <%= @post.section3 %>
</p>

</div>
<br>
<br>
<br>
<br>
<h3>Someone else's gratitude</h3><br>

<div class ="box">
  <span class = "number2">1 </span>
<%= @random.try(:section1) %>
<br>
<span class = "number2">2 </span>
<%= @random.try(:section2) %>
<br>
<span class = "number2">3 </span>
<%= @random.try(:section3) %>
</div>

<br>
<br>
<br>
<br>
<br>
