<p id="notice"><%= notice %></p>


<%= @random %>
<%= @random.try(:section1) %>
<%= @random.try(:section2) %>
<%= @random.try(:section3) %>





<p>
  <strong>Section1:</strong>
  <%= @post.section1 %>
</p>

<p>
  <strong>Section2:</strong>
  <%= @post.section2 %>
</p>

<p>
  <strong>Section3:</strong>
  <%= @post.section3 %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
