<p id="notice"><%= notice %></p>



<p>
  <strong>1.</strong>
  <%= @post.section1 %>
</p>

<p>
  <strong>2.</strong>
  <%= @post.section2 %>
</p>

<p>
  <strong>3.</strong>
  <%= @post.section3 %>
</p>

<br>
<br>
<h5>Someone else's gratitude</h5><br>

<strong>1.</strong>
<%= @random.try(:section1) %>
<br>
<strong>2.</strong>
<%= @random.try(:section2) %>
<br>
<strong>3.</strong>
<%= @random.try(:section3) %>
<br>

<br>
<%= link_to 'All my posts', posts_path %>
