
<div class="show-center">

<h1>Great job! As a reward, get inspired by a stranger's entry.</h1>

</div>
<div class="center1">
<div class ="card">
  <span class = "heading2" >Written <%= time_ago_in_words(@random.created_at) %> ago by a stranger</span>

<br>
<br>
<span class ="heading3"> Anonymous Gratitude</span>
  <span class = "text1"> <br>
    <span style="font-weight: bold;">1.</span> <%= @random.try(:section1) %><br>
    <span style="font-weight: bold;">2.</span> <%= @random.try(:section2) %><br>
    <span style="font-weight: bold;">3.</span> <%= @random.try(:section3) %>
    <br>

  </span>
  <br>
  <span class ="heading3"> Anonymous Goal</span>
  <br>
     <span class = "text1"> <%= @random.try(:goal) %></span>

   <br>




</div>

<br>



<%= link_to 'Back to My Entries', posts_path, :class => "ctas-button-3" %>
</div>
<br>
<br>
<br>
