
<div class="show-center">

<h4>Great job! As a reward, get inspired by a stranger's entry.</h4>
</div>

<div class="center1">
<div class ="card">
  <div class="heading2">
<i class="fa fa-calendar" aria-hidden="true"></i> Written <%= time_ago_in_words(@random.created_at) %> ago by a pal
</div>




   <span class ="heading3">
   Anonymous Gratitude</span>
   <div class = "text1">

   <li><%= @random.try(:section1) %></li>
   </div>
   <div class = "text1">
   <li><%= @random.try(:section2) %></li>
   </div>
   <div class = "text1">
   <li><%= @random.try(:section3) %></li>
   </div>


   <span class ="heading3"> Anonymous Goal</span>

    <div class = "text2">

    <li><%= @random.try(:goal) %></li>


    </div>


   </span>

</div>

<br>

<div class="show-button">

<%= link_to 'Continue', posts_path, :class => "ctas-button-6", :id => "button"%>
</div>
</div>
<br>
<br>
<br>
