
<div class="center">

<h1>Great job! As a reward, enjoy a stranger's entry.</h1>

</div>
<div class="center1">
<div class ="card">
  <br>
  <span class = "time_heading1" >Written <%= time_ago_in_words(@random.created_at) %> ago by a stranger</span><br>

  <span class = "number2">1 </span>
<%= @random.try(:section1) %>
<br>
<span class = "number2">2 </span>
<%= @random.try(:section2) %>
<br>
<span class = "number2">3 </span>
<%= @random.try(:section3) %>
<br>
<br>
</div>
<br>


<%= link_to 'Back to My Entries', posts_path,:class => "ctas-button-3" %>

</div>
