
<div class="center">

<h1>Great job! As a reward, enjoy a stranger's entry.</h1>

</div>
<div class="center1">
<div class ="card">
  <span class = "time_heading1" >Written <%= time_ago_in_words(@random.created_at) %> ago by a stranger</span><br>

<ol>
<li><%= @random.try(:section1) %></li>
<br>
<li><%= @random.try(:section2) %></li>
<br>
<li><%= @random.try(:section3) %></li>
</ol>
</div>
<br>


<%= link_to 'Back to My Entries', posts_path,:class => "ctas-button-3" %>

</div>
