<!DOCTYPE html>
<html>
<head>
  <title>Gratitude Pal</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turboposts-track' => true %>
  <%= javascript_include_tag 'application', 'data-turboposts-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <%= evil_icons_sprite %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-76151416-6', 'auto');
    ga('send', 'pageview');

  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js">

  <script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js">

  <script src="js/bootstrap.min.js"></script>
  <script>
$(document).ready(function()



{
    $("#morningForm").click(function(){

        $("content").show();
        $('#night-form').addClass('night_form');
        $("body").css("background-color", "#aba0cb");

    });

    $("#nightForm").click(function(){
      $('#night-form').removeClass('night_form');
      $("content").hide();
      $("body").css("background-color", "#21334f");
});

      $("#morningPosts").click(function(){
          $("content").show();
          $('#night-form').addClass('night_form');
          $("body").css("background-color", "#aba0cb");

      });

      $("#nightPosts").click(function(){
        $('#night-post').removeClass('night_posts');
        $("content").hide();
        $("body").css("background-color", "#21334f");

});
});
</script>

</head>
<body>




<div class = "page-wrap">

  <div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div id="logo" class="navbar-brand"><%= link_to "Gratitude Pal", root_path %></div>
    </div> <!-- end div class="navbar-header" -->
    <div class="collapse navbar-collapse">
        <% if user_signed_in? -%>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to '<i class="fa fa2 fa-pencil-square-o" aria-hidden="true"></i> New Entry'.html_safe, new_post_path %></li>

            <li><%= link_to '<i class="fa fa2 fa-file-text-o" aria-hidden="true"></i> My Journal'.html_safe, posts_path %></li>
            <li><%= link_to '<i class="fa fa2 fa-lightbulb-o" aria-hidden="true"></i> Inspiration'.html_safe, page_path('gratitude-tips') %></li>


                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars fa-lg" aria-hidden="true"></i> <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to '<i class="fa fa-bookmark" aria-hidden="true"></i> About us'.html_safe, page_path('about') %></li>
                        <li><%= link_to '<i class="fa fa2 fa-cog" aria-hidden="true"></i> Account'.html_safe, edit_user_registration_path %></li>
                        <li><%= link_to '<i class="fa fa2 fa-sign-out" aria-hidden="true"></i> Sign out'.html_safe, destroy_user_session_path, :method => :delete %></li>






                      </ul>
                    </li>
                  </ul>




          </ul>
        <% else -%>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Sign in', new_user_session_path %></li>


          </ul>
        <% end -%>

    </div> <!-- end div class="collapse navbar-collapse" -->
  </div> <!-- end div class="container" -->

</div> <!-- end div class="navbar navbar-default navbar-fixed-top" -->

		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>


				<%= yield %>


        <footer class="footer-distributed">

        			<div class="footer-left">

        	<span class ="purple-font"> Gratitude Pal</span>

        				<p class="footer-links">

                <% if user_signed_in? %>

        					<a href="/posts/new">New Entry</a>
        					·
        					<a href="/posts">My Journal</a>
                  ·
                  <a href="/pages/gratitude-tips">Inspiration</a>
                  ·
                  <a href="/pages/about">About</a>
                <% else %>
                <%= link_to 'Sign up', new_user_registration_path %>
                  ·
                <%= link_to 'Sign in', new_user_session_path %>
                ·
                <a href="/pages/about">About</a>

        				<% end %>








        				</p>



        			</div>



        		</footer>

          </div>


</body>




</html>
